<span class="signup-component">

	<form #signupForm="ngForm" novalidate>

		<ion-list no-lines>

			<ion-item>
				<ion-label stacked>First Name *</ion-label>
				<ion-input type="text" name="first_name" [(ngModel)]="userData.first_name" required>

				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Last Name *</ion-label>
				<ion-input type="text" name="last_name" [(ngModel)]="userData.last_name" required>
				</ion-input>
			</ion-item>

			<hr>

			<ion-item>
				<ion-label stacked>Email *</ion-label>
				<ion-input type="email" name="email" [(ngModel)]="userData.email" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Country *</ion-label>
				<ion-select [(ngModel)]="userData.phone_country" name="phone_country"
						required>
					<ion-option *ngFor="let country of countries" value="{{ country.country_code }}">
					{{ country.name }}
					</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label stacked>Phone Number *</ion-label>
				<ion-input type="text" name="phone" [(ngModel)]="userData.phone" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Password *</ion-label>
				<ion-input type="password" name="password" [(ngModel)]="userData.password"  required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Password Confirmation *</ion-label>
				<ion-input type="password" name="password_confirmation" [(ngModel)]="userData.password_confirmation"  required></ion-input>
			</ion-item>

			<button ion-button block color="appblue" class="mb-40" (click)="signup()">
				Register
			</button>

			<button ion-button block margin-top color="appgrey" class="mb-20" (click)="onLogin()">
				Login 
			</button>

		</ion-list>

	</form>

</span>
