<span class="editlocation-component">

	<ion-card>

		<ion-card-content>

			<ion-list no-lines> 

				<ion-item>
					<ion-label stacked>Country *</ion-label>
				    <ion-select [(ngModel)]="updateProfile.phone_country" name="phone_country"
				    	(ionChange)="loadStatesSingle($event)">
				      <ion-option *ngFor="let country of countries" [value]="country.country_code">
				      	{{ country.name }}
				      </ion-option>
				    </ion-select>
				</ion-item>

				<ion-item *ngIf="states.length > 0">
					<ion-label stacked>State/ County *</ion-label>
				    <ion-select [(ngModel)]="updateProfile.state_id" name="state_id" 
				    (ionChange)="loadCitiesSingle($event)">
				      <ion-option *ngFor="let state of states" [value]="state.id">
				      	{{ state.name }}
				      </ion-option>
				    </ion-select>
				</ion-item>

				<ion-item *ngIf="cities.length > 0">
					<ion-label stacked>City</ion-label>
				    <ion-select [(ngModel)]="updateProfile.city_id" name="city_id">
				      <ion-option *ngFor="let city of cities" [value]="city.id">
				      	{{ city.name }}
				      </ion-option>
				    </ion-select>
				</ion-item> 

				<ion-item *ngIf="constituencies.length > 0">
					<ion-label stacked>Constituency</ion-label>
				    <ion-select [(ngModel)]="updateProfile.state_id" name="constituency_id" 
				    (ionChange)="loadConstituenciesSingle($event)">
				      <ion-option *ngFor="let constituency of constituencies" [value]="constituency.id">
				      	{{ constituency.name }}
				      </ion-option>
				    </ion-select>
				</ion-item>

				<ion-item *ngIf="wards.length > 0">
					<ion-label stacked>Ward</ion-label>
				    <ion-select [(ngModel)]="updateProfile.ward_id" name="ward_id" 
				    (ionChange)="loadWardsSingle($event)">
				      <ion-option *ngFor="let ward of wards" [value]="ward.id">
				      	{{ ward.name }}
				      </ion-option>
				    </ion-select>
				</ion-item>

				<button ion-button block outline class="home-btn2 mb-30" (click)="onEditLocation()">
				  Save Location 
				</button>

				<button ion-button block clear margin-top class="home-btn mb-20" (click)="onProfile()">
				  View Profile
				</button>

			</ion-list>

		</ion-card-content>

	</ion-card>

</span>