page-editprofile {

	.background {
		background-image: url('../assets/images/edit_lake.jpg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.logo{
		margin-left: auto;
		margin-right: auto;
		border-radius: 100%;
	}

	.content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background-color: rgba(0,0,0,0);
	}

}
