.editdob-component{

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 5px;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff !important;
		text-align: center;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}

}