page-profile {
	ion-icon {
        font-size: 25px; 
    }

    ion-avatar img  {
		width:100% !important;
		height : 100% !important;
	}

    .item-avatar  {     
		width:100% !important;  
		height : 100% !important;  
	}

	.item-divider{ min-height: 1px; }

}
