<ion-menu [content]="content" id="menu">

	<ion-header>

	  <ion-toolbar>
	    <ion-title>Menu</ion-title>
	  </ion-toolbar>

	</ion-header>

	<ion-content>

		<div padding-top padding-left padding-right>
			<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
		</div>

		<ion-item-divider ></ion-item-divider>

		<ion-list>
			<button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
	          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
	          {{p.title}}
	        </button>
		</ion-list>

		<ion-item-divider ></ion-item-divider>

		<ion-list>
			<button ion-item menuClose *ngFor="let p of userPages" (click)="openPage(p)">
	          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
	          {{p.title}}
	        </button>
		</ion-list>

	</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

